.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 0;
  transition: margin-left var(--layout-section-transition-duration);
  background-color: var(--main-background-color);
}

.layout-main {
  flex: 1 1 auto;
  padding-bottom: 2rem;
}
